<div *ngIf="_userService.isLoggedIn()">
       <footer class="footer" style="margin-top: 8%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p>We are students in the ITI track open source<br>
                             application development </p>   
						<div class="footer-right">
							
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<!-- <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a routerLink="/student/profile">Home</a></li>
                            <li><a routerLink="/student/attendence">Attendance</a></li>
                            <li><a routerLink="/student/schedular">Schedual</a></li>
							
                        </ul>
                    </div>
                </div> -->
                <!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Team Members</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="https://www.linkedin.com/in/mai-maher/">Mai Maher</a></li>
                            <li><a href="https://www.linkedin.com/in/eman-soliman/">Eman soliman</a></li>
                            <li><a href="https://www.linkedin.com/in/omnia-mostafa-339b4b211/">Omnia Mostafa</a></li>
 
                         
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; ITI students </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
	<script src="js/timeline.min.js"></script>
	<!-- <script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script> -->

</div>