<div *ngIf="_studentService.getCurrentUser().type=='student'">
<h1 style="text-align: center;margin-top:4%;"> Daly Schdular</h1>
<table class="table table-striped" style="margin-top:2%;" >
    <thead>
      <tr>
        <th style="width: 50px">Day</th>
        <th style="width: 50px">8:9</th>
        <th style="width: 75px">9:10</th>
        <th style="width: 50px">10:11</th>
        <th style="width: 75px">11:12</th>
        <th style="width: 75px">12.30:2</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
  <h5>Sturday</h5>
            </td>
          <td *ngFor="let day of sturdaySchedual">
              <span>{{day.courses}} </span>
       
          </td>
        </tr>
        <tr>

            <td>
                <h5>Sunday</h5>
              </td>
                <td *ngFor="let day of   sundaySchedual">
                  <span>{{day.courses}} </span>
           
              </td>
        </tr>
        <tr>

            <td>
                <h5>Monday</h5>
              </td>
                <td *ngFor="let day of   mondaySchedual">
                  <span>{{day.courses}} </span>
           
              </td>
        </tr>

        <tr>

            <td>
                <h5>Tusday</h5>
              </td>
                <td *ngFor="let day of   tusdaySchedual">
                  <span>{{day.courses}} </span>
           
              </td>
        </tr>
        <tr>

            <td>
                <h5>Wensday</h5>
              </td>
                <td *ngFor="let day of   wensdaySchedual">
                  <span>{{day.courses}} </span>
           
              </td>
        </tr>

        <tr>

            <td>
                <h5>Thrisday</h5>
              </td>
                <td *ngFor="let day of   thrisdaySchedual">
                  <span>{{day.courses}} </span>
           
              </td>
        </tr>
    </tbody>
  </table>
</div>
<div class="alter alter-danger" *ngIf="_studentService.getCurrentUser().type!='student'">
  UnAthoeize
  </div>
  