<div >
    
    <div class="card" style="width: 120ch;margin:auto;margin-top: 10ch;">
        
        <div class="card-body" style="display: flex;justify-content: space-between;">
         
          <img src="/assets/images/Happy students or pupils watching study webinar.jpg" alt="image" width="270" height="220">

          <div>
            <div class="card" style="width: 40ch;float: right;background-color: rgb(228, 225, 225);">
        
                <div class="card-body" >
                 
                 <h5>HomeWorks</h5>
                  
                  
                </div>
            </div>
             
          </div>
          
          
        </div>
        <div>
            <div class="card" style="width: 87ch;float: right;height: 40ch;margin-top: 10ch;margin-right: 2ch;background-color: rgb(228, 225, 225);">
        
                <div class="card-body" >
                 
                 <h5>Materials</h5>
                  
                  
                </div>
            </div>
    </div>
</div>



