<div class="card" style="width: 120ch;margin:auto;margin-top: 10ch;">

    <div class="card-body" style="display: flex;">
        <img src="/assets/images/3297140.jpg" alt="image" width="270" height="220">
        
        <form (submit)="UplaodHomeworkAnswer()" class="form-horizontal">


            <div class="form-group">
                <label for="myfile">Select a file:</label>
                <div class="col-lg-10">
                    <input type="file" id="myfile" name="myfile" ngModel (change)="getFile($event)">
                </div>
            </div>


            <br>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn" style="background-color: #00c7a1;">Upload Answer</button>
                </div>
            </div>

        </form>

    </div>
</div>