<div *ngIf="ExamNow">
    <div class="alert alert-warning" role="alert">
        Be Attention,
        If you upload exam answer after exam final date, your answer will not be upload 
      </div>
    
    <div class="card" style="width: 90ch;margin:auto;margin-top: 10ch;">
        
        <div class="card-body" style="display: flex;">
         
          <img src="/assets/images/exam.jpg" alt="image" width="270" height="220">

          <div>
              <p style="color:#00c7a1;display: inline-block;">Exam: </p><a [href]="examPath+exam.examFile">{{exam.examFile}}</a><hr>
              <p style="color:#00c7a1;display: inline-block;">Date: </p> {{exam.date}}<hr>
              <p style="color:#00c7a1;display: inline-block;">From: </p>{{exam.from}}<hr>
              <p style="color:#00c7a1;display: inline-block;">To: </p>{{exam.to}}<hr>
              <p style="color:#00c7a1;display: inline-block;">Course: </p>{{exam.course.name}}<hr>
              <p style="color:#00c7a1;display: inline-block;">Level: </p>{{exam.level.number}}<hr>
              <p style="color:#00c7a1;display: inline-block;">Exam Owner: </p>{{exam.teacher.firstName}} {{exam.teacher.lastName}}<hr>
               <!-- Button trigger modal -->

           
    <button style="float: left; padding:0.5em 0.5em; " type="button" class="btn btn-info " data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Upload Answer
</button>
          </div>
          
           
        </div>
       
    </div>
   
</div>

<div *ngIf="!ExamNow">
    <h3 style="margin-top:5ch ;">There is no exam now</h3>

</div>





<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Upload Answer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form (submit)="UplaodExam()" class="form-horizontal">

                <div class="form-group">
                    <label for="myfile">Select a file:</label>
                    <div class="col-lg-10">
                        <input type="file" id="myfile" name="myfile" ngModel (change)="getFile($event)">
                    </div>
                </div>
            
            
                <br>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
            
            </form>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>

        </div>

    </div>
</div>
</div>




